@page "/StdView/Edit1"
@model LoadDB_Razor.Pages.StdView.Edit1.EditModel
@{
}

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Student.Id" />
            <div class="form-group">
                <label asp-for="Student.Name" class="control-label"></label>
                <input asp-for="Student.Name" class="form-control" />
                <span asp-validation-for="Student.Name" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label class="">
                    @Html.DisplayNameFor(model => model.Student.Gender)
                </label>
                <input asp-for="Student.Gender" type="radio" value="@true"/> Male
                <input asp-for="Student.Gender" type="radio" value="@false"/> Female
            </div>
            <div class="form-group">
                <label asp-for="Student.DepartId" class="control-label"></label> <br />
                @foreach(var department in PRN221_DBContext.Instance.Departments)
                {
                    <input type="radio" asp-for="Student.DepartId" value="@department.Id" /> @department.Name <br />
                }
                <span asp-validation-for="Student.DepartId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Dob" class="control-label"></label>
                <input asp-for="Student.Dob" class="form-control" />
                <span asp-validation-for="Student.Dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Gpa" class="control-label"></label>
                <input asp-for="Student.Gpa" class="form-control" />
                <span asp-validation-for="Student.Gpa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
