@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model LoadDB_Razor.Pages.MyView.Bai2.Index
@using LoadDB_Razor.Models;
@{
    Layout = "_Layout";
}
<a asp-page="Index1"></a>
<h2>Bai 2: Department</h2>
<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Gender</td>
        <td>Department</td>
        <td>DOB</td>
        <td>GPA</td>
    </tr>
    @foreach (Student s in Model.Students)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Name</td>
            <td>@(s.Gender ? "Male" : "Female")</td>
            <td>
                @* @s.Depart.Name *@
                <select>
                    @foreach (Department d in Model.Departments)
                    {
                        if(s.DepartId.Equals(d.Id)){
                            <option selected>@d.Name</option>
                        }
                        else{
                            <option>@d.Name</option>
                        }
                    }
                </select>
            </td>

            <td>@s.Dob</td>
            <td>@s.Gpa</td>
        </tr>
    }
</table>

@section Styles{
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
}