@page "/UpdateStudent/5"
@model LoadDb.Pages.MyView.UpdateStudent5.UpdateStudentModel
@using LoadDB_Razor.Models;
@{
}
<h1>Update Student</h1>
<form method="post">
    <table>
        <tr>
            <td>
                <label asp-for="Student.Id "></label>
            </td>
            <td>
                <input asp-for="Student.Id" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Student.Name"></label>

            </td>
            <td>
                <input asp-for="Student.Name" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="gender">Gender</label>
            </td>
            <td>
                <input type="radio" id="genderMale" name="gender" value="male" @(Model.Student != null && Model.Student.Gender ? "checked" : "") /> 
                <label for="genderMale">Male</label>
                <input type="radio" id="genderFemale" name="gender" value="female" @(Model.Student != null && Model.Student.Gender ? "" : "checked")/> 
                <label for="genderFemale">Female</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Department</label>
            </td>
            <td>
                @foreach (var department in PRN221_DBContext.Instance.Departments)
                {
                    <input 
                        type="radio" id="@department.Id" name="departmentId" value="@department.Id" 
                        @(Model.Student != null && Model.Student.DepartId == department.Id ? "checked" : "") />
                    <label for="@department.Id">@department.Name</label> <br />
                }
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Student.Dob"></label>
            </td>
            <td>
                <input asp-for="Student.Dob" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Student.Gpa"></label>
            </td>
            <td>
                <input asp-for="Student.Gpa" />
            </td>
    </table>
    <button type="submit">Update</button>
</form>
