@page "/StdView/Delete2"
@model LoadDB_Razor.Pages.StdView.Delete1.DeleteModel
@{
}

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Gender)
        </dt>
        <dd class="col-sm-10">
            <input type="radio" asp-for="Student.Gender" value="@true" /> Male
            <input type="radio" asp-for="Student.Gender" value="@false" /> Female
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Dob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Dob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Gpa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Gpa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Depart)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in PRN221_DBContext.Instance.Departments)
            {
                <input type="radio" asp-for="Student.DepartId" value="@item.Id"/> @item.Name <br />
            }   
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Student.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
